<!-- Gallery item start -->
<div class="col-sm-6 col-md-4 col-lg-4">

  <div class="gallery-item">
    <div class="gallery-image">
      <a href="<%= image["images"]["standard_resolution"]["url"] %>" class="gallery" title="<%= shop.name %>">
        <img src="<%= image["images"]["standard_resolution"]["url"] %>" alt="">
        <div class="gallery-caption">
          <div class="gallery-icon">
            <span class="icon-magnifying-glass"></span>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>
<!-- Gallery item end -->