<h2>A cup of coffee makes everything better.</h2>

<ul id="filters" class="filter font-alt hidden-xs">
  <li><a href="#" data-filter="*" class="current wow fadeInUp animated" style="visibility: visible;">All</a></li>
  <% @neighborhood_ids.each do |neighborhood_id| %>
    <%= render partial: "filter", locals: {neighborhood_id: neighborhood_id} %>
  <% end %>
</ul>

<ul id="works-grid" class="works-grid works-grid-gut works-grid-4 works-hover-w" style="position: relative; height: 531px;">
<% @handle_shops.sort_by{|shop| shop.name }.each do |shop| %>
  <%= render partial: "shop", locals: {shop: shop} %>
<% end %>
</ul>