<h2>Edit Photo</h2>
<%= form_for @user, url: update_photo_path, method: :post, html: { multipart: true } do |f| %>
  <%= f.file_field :image %>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>