<h1>My Profile</h1>
<h5><%= @user.email %></h5>

<h2>I Wanna Go Here.</h2>
<% @user.bookmarks.each do |bookmark| %>
  <% shop = Shop.find(bookmark.shop_id) %>
  <p><%= link_to(shop.name, shop_path(shop.id)) %></p>
<% end %>
