// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shop-gallery{
  width: 60%;
  margin: 0 auto;
}

.gallery-item a:focus{
  outline: 0px;
}

#works-grid{
  width: 70%;
  margin: 0 auto;
}

.filter{
  margin-top: 2%;
  margin-bottom: 1%;
}

#map-canvas{
  margin: 0 auto;
  margin-bottom: 3%;
  height: 400px;
  width: 50%;
}

#bigmap-canvas{
  margin: 0 auto;
  margin-bottom: 3%;
  height: 600px;
  width: 80%;
}

@media screen and (max-width: 768px) {
  #map-canvas{
    width: 70%;
    margin-bottom: 10%;
  }
}